# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore model files if not necessary
models/

# Ignore log and temporary files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db
git_objects.txt